@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.map-icon-label {
  position: absolute; }

.map-icon-label .map-icon {
  font-size: 24px;
  color: #949FA0;
  line-height: 48px;
  text-align: center;
  white-space: nowrap; }

.para, .title {
  font-family: 'Roboto'; }

.divBtn {
  color: #2b2b2b;
  text-decoration: none;
  cursor: pointer; }
