@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* .App {
  text-align: center;
} */
.box {
  /*   position: absolute;
	width: 200px;
	height: 200px;
  background-color: red;
  color: white;
	z-index: 94;
	top: 80px;
  left: 80px; */
  top: 400px;
  left: 400px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  border-radius: 6px;
  width: 400px;
  height: auto;
  z-index: 9999;
  padding: 20px;
  color: white; }

.box1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  z-index: 94;
  top: 80px;
  left: 100px; }
  .box1 .boxBtn {
    margin-top: 50px; }

.map-icon-label {
  position: absolute; }

.map-icon-label .map-icon {
  font-size: 24px;
  color: #949FA0;
  line-height: 48px;
  text-align: center;
  white-space: nowrap; }

.window .para {
  font-family: 'Roboto'; }

.title {
  font-family: 'Roboto';
  color: #2b2b2b;
  text-decoration: none;
  cursor: pointer; }

/* .site {
    top: 200px;
    left: 400px;
    position: absolute;
    background: rgba(0, 0, 0, 0.3); 
    border: 1px solid white;
    border-radius: 6px;
    width: 1000px; //1000
    height: auto;
    z-index: 9999;
    //display: none;
    padding: 20px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

} */
.weatherDiv {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .weatherDiv .forecast {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*  .townNtemp {
            border: 1px solid red;
            }

        .humNwind {
            border: 1px solid blue;
            } */ }
  .weatherDiv .img {
    width: 24px;
    height: 24px; }

.addInfo {
  top: 80px;
  left: 80px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  border-radius: 6px;
  width: 1000px;
  height: auto;
  z-index: 9999;
  padding: 20px;
  color: white; }
  .addInfo .flexme {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .addInfo .flexme #dropDown {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .addInfo .flexme #dropDown #selectCity {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        width: 150px;
        color: white; }
        .addInfo .flexme #dropDown #selectCity option {
          background: rgba(0, 0, 0, 0.3);
          background-color: #2b2b2b; }
    .addInfo .flexme .btnDiv {
      width: 80px;
      border-radius: 5px;
      color: white;
      margin-top: 4px;
      margin-right: 4px; }
      .addInfo .flexme .btnDiv .backBtn {
        font-size: 20px;
        float: right;
        cursor: pointer; }
