@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .App {
  text-align: center;
} */

.box {
/*   position: absolute;
	width: 200px;
	height: 200px;
  background-color: red;
  color: white;
	z-index: 94;
	top: 80px;
  left: 80px; */
  
    top: 400px;
    left: 400px;
    position: absolute;
    background: rgba(0, 0, 0, 0.3); 
    border: 1px solid white;
    border-radius: 6px;
    width: 400px; //1000
    height: auto;
    z-index: 9999;
    //display: none;
    padding: 20px;
    color: white;
}

.box1 {
  position: absolute;
	width: 200px;
	height: 200px;
  background-color: blue;
  color: white;
	z-index: 94;
	top: 80px;
  left: 100px;
  
  .boxBtn {
    margin-top: 50px;
  }

}


