.site {
    top: 80px;
    left: 80px;
    position: absolute;
    background: rgba(0, 0, 0, 0.3); 
    border: 1px solid white;
    border-radius: 6px;
    width: 1000px;
    height: auto;
    z-index: 99;
    display: none;
    padding: 20px;
    color: white;

}